<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= data.meta.description %>">
  <meta name="keywords" content="x,x,x,x,x,<%= data.meta.keywords.join() %>">
  <title><%= data.meta.title %></title>
</head>